.slide__show {
  margin: 30px 16px 0 16px;
  overflow-x: hidden;

  position: relative;
}
.slide {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;

  transition: all 0.4s ease;
}

.slide div {
  margin: 0 12px;
}

.left,
.right {
  background-color: transparent;
  border: none;
  outline: none;
  color: #97ACCF;
  opacity: 0.9;
  font-size: 44px;
  text-shadow: 3px 2px 0 #3E4756;

  transition: all .4s;
}

.left:hover,
.right:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.left {
  position: absolute;
  top: 45%;
  left: 0;
}

.right {
  text-shadow: -3px 2px 0 #3E4756;
  position: absolute;
  top: 45%;
  right: 0;
}