.slide__show {
  margin: 30px 16px 0 16px;
  overflow-x: hidden;

  position: relative;
}
.slide {
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;

  transition: all 0.4s ease;
}

.slide div {
  margin: 0 12px;
}

.left,
.right {
  background-color: transparent;
  border: none;
  outline: none;
  color: #5E5E5E;
  font-size: 44px;

  transition: all .4s;
}

.left:hover,
.right:hover {
  cursor: pointer;
  color: #C90000;
  transform: scale(1.2);
}

.left {
  position: absolute;
  top: 45%;
  left: 0;
}

.right {
  position: absolute;
  top: 45%;
  right: 0;
}